@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@400;514&display=swap);
* {
  color: white;
}

.header {
  font-size: 12px;
  font-weight: bold;
}
.header #navItem:hover {
  color: #b9b9b9;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowDown {
  display: inline-block;
  width: 90px;
  margin-top: 5px;
}

.logoPc {
  width: 240px;
  margin-left: -10px;
  margin-right: 40px;
}

#button {
  padding: 15px 35px;
  border: 2px white solid;
}

.footer {
  background-color: black;
  height: 15vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: #b9b9b9;
}
.footer .copyOBC {
  color: #555252;
}

@media (max-width: 405px) {
  .logoPc {
    width: 180px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .logoPc {
    width: 150px;
    margin-top: 15px;
  }
}
.container00.container01 {
  background-image: url(../../images/home/01.jpg);
}
.container00.container02 {
  background-image: url(../../images/home/03.jpg);
}
.container00.container03 {
  background-image: url(../../images/home/02.gif);
}
.container00.container04 {
  background-image: url(../../images/home/04.jpg);
}

.titlePadding {
  padding-top: 200px;
}

.shortTitle {
  width: 550px;
  margin-bottom: 25px;
}

.mediumtitle {
  width: 650px;
  margin-bottom: 25px;
}

@media (max-width: 750px) {
  .titlePadding {
    padding-top: 120px;
  }
  .shortTitle,
  .mediumtitle {
    width: auto;
    font-size: 50px;
  }
}
@media (max-width: 380) {
  .shortTitle,
  .mediumtitle {
    width: auto;
    font-size: 35px;
  }
}
.container00.container05 {
  background-image: url(../../images/falcon9/01.jpg);
}
.container00.container06 {
  background-image: url(../../images/falcon9/02.jpg);
}
.container00.carrossel01 {
  background-image: url(../../images/falcon9/03.jpg);
}
.container00.carrossel02 {
  background-image: url(../../images/falcon9/04.jpg);
}
.container00.carrossel03 {
  background-image: url(../../images/falcon9/05.jpg);
}
.container00.carrossel04 {
  background-image: url(../../images/falcon9/06.jpg);
}
.container00.carrossel05 {
  background-image: url(../../images/falcon9/07.jpg);
}
.container00.container07 {
  background-image: url(../../images/falcon9/08.jpg);
}

.Falcon9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}

.numbers {
  background-color: black;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.numbers .titleNumb {
  font-size: 90px;
}
.numbers .SubTitleNumb {
  font-size: 20px;
}

.FalconDesc {
  font-size: 22px;
  width: 640px;
  line-height: 50px;
}

.containerFalcon9Desc {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: left;
}

#overViewPosition {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}

.carrosselSlide img {
  height: 100vh;
}

.carousselText {
  background-color: black;
}

.downloadDesc {
  background-color: black;
  height: 85vh;
  padding-top: 240px;
}
.downloadDesc a {
  text-decoration: none;
  color: #555252;
}
.downloadDesc a:hover {
  color: #b9b9b9;
}
.downloadDesc button {
  border: 2px solid white;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .numbers .titleNumb {
    font-size: 70px;
  }
  .numbers .SubTitleNumb {
    font-size: 17px;
  }
  .FalconDesc {
    width: auto;
  }
  #overViewPosition {
    padding-top: 25%;
  }
}
@media (max-width: 575px) {
  .numbers {
    height: 60vh;
  }
  #overViewPosition {
    width: auto;
    margin-left: auto;
  }
}
@media (max-width: 425px) {
  .titleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
  }
  .titleFalcon9 {
    font-size: 50px;
  }
  .numbers h1 {
    font-size: 40px;
  }
  .numbers p {
    font-size: 14px;
  }
  .containerFalcon9Desc p {
    width: auto;
    font-size: 18px;
    line-height: 30px;
  }
  #overViewPosition {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-left: auto;
  }
  .titleOverView {
    font-size: 26px;
    font-weight: bold;
  }
  .subTitleOvewView {
    font-size: 20px;
    font-weight: 300;
  }
}
@media (max-width: 375px) {
  .Falcon9 {
    font-size: 50px;
  }
}

/*# sourceMappingURL=style.scss.map */
